---
layout: base.njk
title: Bylaws
heading: Bylaws
permalink: /bylaws.html
---
<div class="content-card">
<h2>General Rules for USMGA National and International Teams</h2>
<p>Article 1: International Eligibility: Riders for national teams or international teams must meet<br>
the selection criteria governed by the Board of directors.<br>
a. A deposit will be required to confirm commitment. If the rider is not selected, the deposit will be credited towards the rider’s next USMGA competition. Deposits from selected riders will be applied toward the entry fee and or related expenses for the competition for which they are selected.<br>
b. To be considered for national or international competition members must complete an application form. The rider must have been a USMGA member the previous year as of Jan. 1, and competed in at least three USMGA competitions the previous year. In the exceptional case of case of not enough qualified applicants the coach may use his/her judgement in the selection.<br>
c. Riders must commit to meeting the practice schedule of the team. Riders must show excellent games skills and have the willingness and ability to switch ponies at competitions.<br>
d. The top riders will be selected for an international team depending on their ability to meet practice schedules. Members must show responsible behavior and show an understanding of the diplomacy expected as a representative of the United States.<br>
<br>
Article 2: All selected riders and parents of riders under 18 years must carefully review and sign a contract that sets the standards of conduct and participation before they are accepted for a team. And all riders selected must compete at all USMGA competitions after selection. Riders who do not meet the terms of their contract will be dismissed from the team and replaced with an alternate rider.<br>
<br>
Article 3: Riders will be responsible for their own expenses and the expenses of a coach and a chef d’quip<br>
<br>
​Article 4: Team selection is at the sole discretion of the coach. The coach will advise the board as soon as the team is selected.</p>
<h2>General Rules for USMGA Competition</h2>
<p>Article 1: USMGA shall adopt the rules of IMGA and riders and organizers must adhere to IMGA rules<br>
<br>
Article 2: Riders of any age may compete at USMGA events<br>
<br>
Article 3 : Abuse of a pony will not be tolerated at any time. Any official or member of the organizing committee may issue a warning. If the abuse continues or is repeated, the ground committee will eliminate the rider from the rest of the competition. Eliminations due to abuse will be recorded and the board of directors may review the situation and dismiss and offending rider from USMGA.<br>
<br>
Article 4 : All riders must wear IMGA Legal helmets that meet all safety requirements.<br>
<br>
Article 5 : No dogs are permitted in stable areas or in the arena</p>
<h2>DEFINITION OF DIVISIONS</h2>
<p>Norman Patrick: Riders of any age who are not confident to ride in IMGA divisions or competent riders with novice ponies. If any riders choses to compete their pony in an IMGA division but decides they need to move back to the Norman Patrick Division, this will be allowed but the rider/pony combination must stay in the Norman Patrick division for the remainder of the season.<br>
<br>
Under 18: Riders under the age of 18 as of Jan. 1 are eligible for this division.<br>
<br>
​Open: Riders must be 14 as of Jan 1 or be approved by a US coach and the recommendation submitted to the USMGA board for clearance.<br></p>
<h2>Election procedures</h2>
<p>Article 1: Election Procedures: Elections will be held as specified in constitution. Elections will be held by mail for all members in good standing with valid signed members form after the end of the season with results announced art USMGA Annual General Meeting in December.<br>
<br>
Elections will be by mail and the results will be announced at the annual general meeting during December of each year.<br>
<br>
Nominations for any Officer or Elected Director position must be submitted to the Board of Directors at least 28 days before the ballots are sent out to members.<br>
<br>
Candidates must be nominated by another member of USMGA in good standing. To be eligible for nomination for any position, the candidate must be a member of USMGA in good standing and have been involved with USMGA for at least two years. Nominees must have helped at (above and beyond assistant refereeing or providing equipment help for a team) or organized at least one USMGA competition during the election year. Candidates must expect to commit a substantial amount of time towards USMGA.<br>
<br>
Offices open for election will vary each year but will include:<br>
<br>
President election to be held in 2026 and every three years thereafter<br>
Secretary election to be held in 2027 and every three years thereafter<br>
Treasurer Election to be held in 2027 and every three years thereafter<br>
Other members will be elected every two years beginning in 2024.<br>
Equipment Manager (must have direct experience in USMGA competitions)<br>
International Referee Liaison (must have direct experience in organizing referee clinics)<br>
Regional representatives are nominated and voted on by members of regions which have USMGA competitions.<br>
MidSouth Region<br>
MidWest/West Region<br>
South<br>
<br>
The Annual General Meeting for Members will be live-streamed and will provide the opportunity for members to participate on line.</p>
</div>
