---
layout: base.njk
title: Contact Our Board
heroTitle: "Feel Free to Reach Out!"
permalink: /contact-our-board.html
hero: /assets/img/563737482.jpg
heroPosition: 50.00% 20.58%
heroHeight: 307px
---
<div class="content-card">
  <h2>Email us at:</h2>
  <p><a href="mailto:usmga1042@gmail.com">usmga1042@gmail.com</a></p>

  <figure><img src="/assets/img/liz-and-paul.jpg" alt="Paul and Liz Greiling"></figure>
  <h2>Paul and Liz greiling</h2>
  <p>Paul Greiling - President of the Board - elected 2022 and Acting Treasurer<br>
  Email: <a href="mailto:paul@windhover.farm">paul@windhover.farm</a> and <a href="mailto:liz@windhover.farm">liz@windhover.farm</a><br>
  Liz Englert - Referee Liaison - elected 2024</p>

  <figure><img src="/assets/img/debbie.jpg" alt="Debbie MCleod"></figure>
  <h2>Debbie MCleod</h2>
  <p>Midwest Regional Representative<br>
  Elected 2024</p>

  <figure><img src="/assets/img/jessica_orig.jpg" alt="Jessica Chilton"></figure>
  <h2>Jessica chilton</h2>
  <p>Mid South Representative</p>

  <figure><img src="/assets/img/carol.jpg" alt="Carol Jones"></figure>
  <h2>Carol Jones</h2>
  <p>Secretary of the Board<br>
  <a href="mailto:carol_wmga@hotmail.com">carol_wmga@hotmail.com</a></p>

  <figure><img src="/assets/img/brenda.jpg" alt="Brenda Kibiloski"></figure>
  <h2>Brenda Kibiloski</h2>
  <p>Equipment Master<br>
  Elected 2024</p>

  <figure><img src="/assets/img/vicky-2_orig.jpg" alt="Vicky Fulton"></figure>
  <h2>VIcky Fulton</h2>
  <p>Chief Referee<br>
  <a href="mailto:vickyfulton65@gmail.com">vickyfulton65@gmail.com</a></p>

  <figure><img src="/assets/img/thumbnail-img-0905_orig.jpg" alt="Christian Jones"></figure>
  <h2>Christian Jones</h2>
  <p>Team USA Coach</p>

  <h2>USMGA</h2>
  <p>Founded 1986</p>
</div>
