---
layout: base.njk
title: Contact Our Board
heading: Feel Free to Reach Out!
permalink: /contact-our-board.html
hero: /assets/img/563737482.jpg
---
<div class="content-card">
<h2>Email us at:</h2>
<p>usmga1042@gmail.com</p>
<figure><img src="/assets/img/liz-and-paul.jpg" alt="Picture"></figure>
<h2>Paul and Liz greiling</h2>
<p>Paul Greiling - President of the Board - elected 2022<br>
Email: paul@windhover.farm and liz@windhover.farm<br>
Liz Englert - Referee Liaison - elected 2024</p>
<figure><img src="/assets/img/debbie.jpg" alt="Picture"></figure>
<h2>Debbie MCleod</h2>
<p>Treasurer<br>
Mid West Regional Representative</p>
<figure><img src="/assets/img/jessica_orig.jpg" alt="Picture"></figure>
<h2>Jessica chilton</h2>
<p>Mid South Representative</p>
<figure><img src="/assets/img/carol.jpg" alt="Picture"></figure>
<h2>Carol Jones</h2>
<p>Secretary of the Board<br>
​carol_wmga@hotmail.com<br>
​<br></p>
<figure><img src="/assets/img/brenda.jpg" alt="Picture"></figure>
<h2>Brenda Kibiloski</h2>
<p>Equipment Master<br>
Elected 2024</p>
<figure><img src="/assets/img/lisa.jpg" alt="Picture"></figure>
<h2>Lisa Muffley</h2>
<p>South Representative</p>
<figure><img src="/assets/img/thumbnail-img-0905_orig.jpg" alt="Picture"></figure>
<h2>Christian Jones</h2>
<p>Team USA Coach</p>
</div>
