---
layout: base.njk
title: Documents
heading: Documents
permalink: /documents.html
hero: /assets/img/658650865.jpg
---
<div class="content-card">
<p><a class="button" href="/assets/docs/imga_rule_book_2025.pdf" target="_blank" rel="noopener">2025 IMGA RULE BOOK</a></p>
<p><a class="button" href="/assets/docs/2025_tryout_form_usmga_international_competitions.pdf" target="_blank" rel="noopener">2025 TRYOUT FORM</a></p>
<p><a class="button" href="/assets/docs/2024_khp_venue_release.pdf" target="_blank" rel="noopener">KENTUCKY HORSE PARK WAIVER</a></p>
<p><a class="button" href="/assets/docs/waiver_of_liability_-tiec_2024.docx.pdf" target="_blank" rel="noopener">2024 TRYON EQUESTRIAN CENTER WAIVER</a></p>
<p><a class="button" href="/assets/docs/york_venue_release_corrected.pdf" target="_blank" rel="noopener">YORK WAIVER</a></p>
<p><a class="button" href="/bylaws.html">OUR BYLAWS</a></p>
<p><a class="button" href="/con.html">OUR Constitution</a></p>
<p><a class="button" href="/rules.html">OUR Rules</a></p>
</div>
