---
layout: base.njk
title: Home
permalink: /
hero: /assets/img/1280290465.png
heroPosition: 0.00% 62.59%
heroHeight: 474px
heroContain: true
---
<div class="text-center">
  <p class="lead">Interested in finding out what mounted games is all about? Click below!</p>

  <video class="home-video" controls preload="none" poster="/assets/img/imga-promotional-video-poster.jpg" aria-label="IMGA promotional video">
    <source src="https://www.weebly.com/uploads/b/140445852-607183964116320540/imga-promotional-video_753.mp4" type="video/mp4">
    <a href="https://www.weebly.com/uploads/b/140445852-607183964116320540/imga-promotional-video_753.mp4">Watch the IMGA promotional video</a>.
  </video>
</div>

<div class="multicol">
  <figure><img src="/assets/img/img-5910.png" alt="2026 IMGA Nations Championship, Ocala, Florida, October 12-18 2026"></figure>
  <div class="text-center">
    <p class="social-heading">FOLLOW US ON SOCIAL MEDIA</p>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/groups/110251019027062" aria-label="Facebook" target="_blank" rel="noopener">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M22 12.06C22 6.5 17.52 2 12 2S2 6.5 2 12.06c0 5 3.66 9.15 8.44 9.94v-7H7.9v-2.94h2.54V9.85c0-2.52 1.49-3.92 3.77-3.92 1.09 0 2.24.2 2.24.2v2.46h-1.26c-1.24 0-1.63.78-1.63 1.57v1.9h2.78l-.45 2.94h-2.33v7C18.34 21.21 22 17.06 22 12.06Z"/></svg>
      </a></li>
      <li><a href="https://www.instagram.com/usmga.official/" aria-label="Instagram" target="_blank" rel="noopener">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2.16c3.2 0 3.58.01 4.85.07 1.17.05 1.8.25 2.23.41.56.22.96.48 1.38.9.42.42.68.82.9 1.38.16.42.36 1.06.41 2.23.06 1.27.07 1.65.07 4.85s-.01 3.58-.07 4.85c-.05 1.17-.25 1.8-.41 2.23-.22.56-.48.96-.9 1.38-.42.42-.82.68-1.38.9-.42.16-1.06.36-2.23.41-1.27.06-1.65.07-4.85.07s-3.58-.01-4.85-.07c-1.17-.05-1.8-.25-2.23-.41-.56-.22-.96-.48-1.38-.9-.42-.42-.68-.82-.9-1.38-.16-.42-.36-1.06-.41-2.23C2.17 15.58 2.16 15.2 2.16 12s.01-3.58.07-4.85c.05-1.17.25-1.8.41-2.23.22-.56.48-.96.9-1.38.42-.42.82-.68 1.38-.9.42-.16 1.06-.36 2.23-.41C8.42 2.17 8.8 2.16 12 2.16Zm0 5.18a4.66 4.66 0 1 0 0 9.32 4.66 4.66 0 0 0 0-9.32Zm0 7.69a3.03 3.03 0 1 1 0-6.06 3.03 3.03 0 0 1 0 6.06Zm5.94-7.87a1.09 1.09 0 1 1-2.18 0 1.09 1.09 0 0 1 2.18 0Z"/></svg>
      </a></li>
      <li><a href="mailto:usmga1042@gmail.com" aria-label="Email USMGA">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2Zm0 4.24-8 4.76-8-4.76V6l8 4.76L20 6v2.24Z"/></svg>
      </a></li>
    </ul>
    <a class="button" href="/sponsor-us.html">Sponsor Us</a>
  </div>
  <figure><img src="/assets/img/img-5879.png" alt="USMGA 1986 40th anniversary graphic"></figure>
</div>

<div class="text-center">
  <h2>2026</h2>
  <p class="lead-muted">International Sponsors</p>
</div>

<div class="slideshow" data-interval="5000">
  <figure class="slide"><img src="/assets/img/bernhard-autoworks-final.jpg" alt="Bernhard Autoworks sponsor logo"></figure>
  <figure class="slide"><img src="/assets/img/louisville-aviation.jpg" alt="Louisville Aviation sponsor logo"></figure>
  <figure class="slide"><img src="/assets/img/725560396-10238700149980550-18127346672980692-n.jpg" alt="USMGA international sponsor logo"></figure>
  <figure class="slide"><img src="/assets/img/synergy-primary-1c-navy-768x152.png" alt="Synergy sponsor logo"></figure>
</div>

<div class="text-center">
  <h2 class="h2-soft">Email us @: <a href="mailto:usmga1042@gmail.com">usmga1042@gmail.com</a></h2>
</div>

<div class="button-row">
  <a class="button" href="/bylaws.html">BYLAWS</a>
  <a class="button" href="/rules.html">Rules</a>
  <a class="button" href="/con.html">Constitution</a>
</div>
