---
layout: base.njk
title: Home
heading: Welcome to USMGA
permalink: /
hero: /assets/img/1280290465.png
---
<div class="content-card">
<div class="intro-panel"><p>Mounted games depends entirely on volunteers to organize and to run competitions. Sponsors help keep local competitions affordable and make international travel possible for USMGA riders.</p><p><a class="button" href="/sponsor-us.html">Sponsor Us</a> <a class="button" href="/join-usmga.html">Join USMGA</a></p></div>
<h2>Follow us online</h2>
<h2>Sponsors</h2>
<p>Mounted games depends entirely on volunteers to organize and to run competitions, and when our most accomplished riders go to international competitions they are responsible for all of the extensive costs. Sponsors help keep our local competitions affordable and make international travel possible for our incredible riders.<br>
​</p>
<h2>Team</h2>
<h2>event</h2>
<div class="figure-grid home-image-grid">
  <figure><img src="/assets/img/screen-shot-2022-06-07-at-2-34-49-pm.png" alt="USMGA team sponsor logo"></figure>
  <figure><img src="/assets/img/4d2bdcd9-0eeb-4e5e-b2cc-8d86d02df2c9.png" alt="USMGA event sponsor graphic"></figure>
</div>

<p><a class="button" href="/sponsor-us.html">Sponsor Us</a></p>
<h2>Email us @: ​ usmga1042@gmail.com</h2>
<p><a class="button" href="/bylaws.html">BYLAWS</a></p>
<p><a class="button" href="/rules.html">Rules</a></p>
<p><a class="button" href="/con.html">Constitution</a></p>
</div>
