---
layout: base.njk
title: International
heroTitle: "Our International Teams"
permalink: /international.html
hero: /assets/img/1421001132.jpg
heroPosition: 50.00% 70.78%
---
<div class="content-card">
  <h2>2026 International Teams</h2>
  <div class="figure-grid">
    <figure><img src="/assets/img/2026-worlds-open.jpg" alt="2026 Worlds Open team"></figure>
    <figure><img src="/assets/img/2026-world-s-u18.jpg" alt="2026 World's U18 team"></figure>
    <figure><img src="/assets/img/2026-fontainebleau.jpg" alt="2026 Fontainebleau team"></figure>
    <figure><img src="/assets/img/2026-royal-welsh.jpg" alt="2026 Royal Welsh team"></figure>
    <figure><img src="/assets/img/2026-northern-ireland.jpg" alt="2026 Northern Ireland team"></figure>
  </div>

  <h2>Sponsors</h2>
  <p>Mounted games depends entirely on volunteers to organize and run competitions, and when our most accomplished riders go to international competitions they are responsible for all of the extensive costs. Sponsors help keep our local competitions affordable and make international travel possible for our incredible riders.</p>

  <h2>2025</h2>
  <div class="slideshow" data-interval="5000">
    <figure class="slide"><img src="/assets/img/screen-shot-2022-06-07-at-2-34-49-pm.png" alt="2025 sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/logo-kerrits-1200x1200.jpg" alt="Kerrits sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/jacks-logo-resized-1673968139-76607.webp" alt="Jacks sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/state-line-tack-logo-2020-mhf-logo-600.jpg" alt="State Line Tack sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/skylight-better.jpg" alt="Skylight sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/smoothie-place.jpg" alt="Smoothie Place sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/hay-chix.jpg" alt="Hay Chix sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/custom-woodworking-by-design.jpg" alt="Custom Woodworking by Design sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/cruise-planners.jpg" alt="Cruise Planners sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/tsc.jpg" alt="TSC sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/img-2860.jpeg" alt="2025 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/circle-initial-logo-2.jpg" alt="Circle Initial sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/performa-ride.jpg" alt="Performa Ride sponsor logo"></figure>
  </div>

  <h2>2024</h2>
  <div class="slideshow" data-interval="8000">
    <figure class="slide"><img src="/assets/img/4d2bdcd9-0eeb-4e5e-b2cc-8d86d02df2c9.png" alt="2024 sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/0dfe4bfe-c9a2-440f-a99e-85f753c9d028.jpg" alt="2024 sponsor image"></figure>
  </div>

  <div class="slideshow" data-interval="6000">
    <figure class="slide"><img src="/assets/img/mcmahan-logo.png" alt="McMahan sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/birkhead-logo.png" alt="Birkhead sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/concierge-home-care-logo-r-3.jpg" alt="Concierge Home Care sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/logo-kerrits-1200x1200.jpg" alt="Kerrits sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/logo-invoice.jpg" alt="Sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/state-line-tack-logo-2020-mhf-logo-600.jpg" alt="State Line Tack sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/circle-initial-logo-2.jpg" alt="Circle Initial sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/screen-shot-2022-06-07-at-2-34-49-pm.png" alt="Sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/logo-2024.jpg" alt="2024 sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/285473558-10224520182370222-7888273147735054573-n.jpeg" alt="2024 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/284873710-10224520240771682-2692796446352921748-n.jpeg" alt="2024 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/farm-logo.png" alt="Farm sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/logo-pastures-cookies.png" alt="Pastures Cookies sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/thumbnail-pinkequine-square-logo.jpg" alt="Pink Equine sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/thumbnail-img-4678.jpg" alt="2024 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/thumbnail-untitled172-20240503130919.jpg" alt="2024 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/thumbnail-img-0011.jpg" alt="2024 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/thumbnail-running-rw-logo-black.jpg" alt="Running RW sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/thumbnail-img-9329.jpg" alt="2024 sponsor image"></figure>
  </div>

  <h2>2023</h2>
  <div class="slideshow" data-interval="7000">
    <figure class="slide"><img src="/assets/img/thumbnail-untitled172-20240503130919.jpg" alt="2023 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/thumbnail-img-9329.jpg" alt="2023 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/best-carolina-trailer-sales-logo-teal.png" alt="Best Carolina Trailer Sales sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/duke.png" alt="Duke sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/nuline.png" alt="Nuline sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/screenshot-2025-04-23-144220.png" alt="2023 sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/tough-1.png" alt="Tough-1 sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/thumbnail-img-9328.jpg" alt="2023 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/thumbnail-untitled162-20221219222229.png" alt="2023 sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/concierge-home-care-logo-r-3.jpg" alt="Concierge Home Care sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/logo-kerrits-1200x1200.jpg" alt="Kerrits sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/state-line-tack-logo-2020-mhf-logo-600.jpg" alt="State Line Tack sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/circle-initial-logo-2.jpg" alt="Circle Initial sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/logo-2024.jpg" alt="Sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/284873710-10224520240771682-2692796446352921748-n.jpeg" alt="2023 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/jclogo2023.png" alt="2023 sponsor logo"></figure>
    <figure class="slide"><img src="/assets/img/285473558-10224520182370222-7888273147735054573-n.jpeg" alt="2023 sponsor image"></figure>
    <figure class="slide"><img src="/assets/img/384697412-10227645927231890-4135025283860397259-n.jpg" alt="2023 sponsor image"></figure>
  </div>
</div>
