---
layout: base.njk
title: International
heading: Our International Teams
permalink: /international.html
hero: /assets/img/1421001132.jpg
---
<div class="content-card">
<h2>2024</h2>
<p>SPONSORS</p>
<h2>2023</h2>
<p>SPONSORS</p>

<h2>Representative sponsor logos</h2>
<div class="figure-grid sponsor-logo-grid">
  <figure><img src="/assets/img/mcmahan-logo.png" alt="McMahan sponsor logo"></figure>
  <figure><img src="/assets/img/logo-kerrits-1200x1200.jpg" alt="Kerrits sponsor logo"></figure>
  <figure><img src="/assets/img/state-line-tack-logo-2020-mhf-logo-600.jpg" alt="State Line Tack sponsor logo"></figure>
  <figure><img src="/assets/img/thumbnail-untitled172-20240503130919.jpg" alt="USMGA international sponsor image"></figure>
</div>
</div>
