---
layout: base.njk
title: Join USMGA
heroTitle: "Become a member!"
permalink: /join-usmga.html
hero: /assets/img/1506871210.jpg
heroPosition: 50.00% 18.14%
---
<div class="content-card">
  <div class="multicol">
    <div>
      <h2>Join here:</h2>
      <p><a class="button" href="/assets/docs/2025_membership_form_pdf.pdf" target="_blank" rel="noopener">MEMBERSHIP FORM</a></p>
      <p>Paypal: <a href="mailto:usmga1042@gmail.com">usmga1042@gmail.com</a></p>
    </div>
    <figure class="qr"><img src="/assets/img/usmga-paypal-qr-code-3_orig.png" alt="USMGA PayPal QR code"></figure>
  </div>

  <div class="multicol align-start">
    <div>
      <p>1. Under USMGA rules anyone who enters the field of play must be a member.<br>
      <br>
      2. Members riding in Under Eighteen need to send official proof of age, preferably with a picture, with their membership. This includes drivers license, birth certificate, passport, etc.<br>
      <br>
      3. Please make sure the form is readable. Some autofill forms are printing so small that they are unreadable. Please make sure the information is printing correctly.<br>
      <br>
      4. Please make sure that each person listed on the form below the code of conduct signs separately.<br>
      The form is not valid without a signature for each member.<br>
      <br>
      5. Membership is due on March 1. Memberships received after that date will incur a $50 late fee.<br>
      <br>
      There is no late fee for first time members.</p>
    </div>
    <div>
      <p>There are several categories of membership to choose from:<br>
      <br>
      $70 Single nonriding membership (18 years + ONLY)<br>
      <br>
      $90 Single riding membership (18 years + ONLY)<br>
      <br>
      $110 Category 1: 1 rider plus 1-2 supporters (Supporters include parents/guardians/spouse/significant other)<br>
      <br>
      $130 Category 2: 2 riders plus 1-2 supporters<br>
      <br>
      $150 Category 3: 3 riders plus 1-2 supporters<br>
      <br>
      $20 Each additional rider immediate family/legal guardian<br>
      <br>
      $50 Late Fee for repeat members' membership received after March 1st</p>
    </div>
  </div>
</div>
