---
layout: base.njk
title: Join USMGA
heading: Become a member!
permalink: /join-usmga.html
hero: /assets/img/1506871210.jpg
---
<div class="content-card">
<h2>Join here:</h2>
<p><a class="button" href="/assets/docs/2025_membership_form_pdf.pdf" target="_blank" rel="noopener">MEMBERSHIP FORM</a></p>
<p><a class="button" href="https://www.paypal.com/qrcodes/managed/e9aaf797-2ff1-41d2-b668-3224c56b39d2?utm_source=old_merchant_lp" target="_blank" rel="noopener">PAY FEE</a></p>
<p>1. Under USMGA rules anyone who enters the field of play must be a member.<br>
<br>
2. Members riding in Under Eighteen need to send official proof of age, preferably with a picture with their membership. This includes drivers license, birth certificate, or passport etc.<br>
<br>
3. Please make sure the form is readable. Some autofill forms are printing so small that they are unreadable. Please make sure the information is printing correctly.<br>
<br>
4. Please make sure that each person listed on the form below the code of conduct signs separately,<br>
The form is not valid without a signature for each member.<br>
<br>
5. Membership is due on March 31. Memberships received after that date will incur a $30 late fee.<br>
<br>
​There is no late fee for first time members.</p>
<p>There are several categories of membership listed at the top of the membership form for you to choose from:<br>
<br>
$70 Single non-riding membership (18 years + ONLY)<br>
<br>
$90 Single riding membership (18 years + ONLY)<br>
<br>
$110 Category 1: 1 rider plus 1-2 supporters (Supporters include parents/guardians/spouse/significant other)<br>
<br>
$130 Category 2: 2 riders plus 1-2 supporters<br>
<br>
$150 Category 3: 3 riders plus 1-2 supporters<br>
<br>
$20 Each additional rider immediate family/legal guardian<br>
​<br>
$50 Late Fee for repeat members' membership sent after March 1st<br>
​<br>
​</p>
</div>
