---
layout: base.njk
title: Nations Prospectus
heading: Nations 2026 Sponsorship Prospectus
permalink: /nations-prospectus.html
hero: /assets/img/1690394802.jpg
---
<div class="content-card">
<p><a class="button" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F1k2N7CCl7tf2xRX2V_Vr5sWGHWNjMVPIN%3Fusp%3Dshare_link%26fbclid%3DIwZXh0bgNhZW0CMTAAYnJpZBExeUZvZ2N3OFpubkZ4ZUdNU3NydGMGYXBwX2lkEDIyMjAzOTE3ODgyMDA4OTIAAR5tWBzprdbV6wodukMDOJlsYyxpoU5d55kZtu0NJrrOA4NFW_SEwTol8qv5Sg_aem_ktn0Cc7odx3EwOFIIGi0Qw&h=AT5QGAoxb9hF7-sQooXNPTP-ikVkd58hgFaIMp3evFs8UAJd8Dfkfax7pUmejoo-xq-xdZFBAlMgrrnkXzNMzN8N_qjXG6Yh_lzpejiymCiFeAWJIX5Q0lP4VdHCHL9ZYi0rTA" target="_blank" rel="noopener">Link to Google Drive with Prospectus</a></p>
</div>
