---
layout: base.njk
title: Newsletter
heading: Newsletter
permalink: /newsletter.html
hero: /assets/img/1560344675.jpg
---
<article class="blog-post">
<h2>May 29th, 2025</h2>
<p class="blog-date"><br>
5/29/2025<br></p>
<p>World Team Championships<br>
Open Team<br>
Jaycee Blythe<br>
Molly Pratt<br>
Natalie Tanski<br>
Matthew Fulton<br>
Francisco Murphy<br>
<br>
Traveling Reserve:- Sophie Wilkins<br>
Non Travelling Reserve:- Brynn Delong<br>
<br>
U18 Team<br>
Riley Kendall<br>
Maya Bourke<br>
Aiden Murphy<br>
Lily Somers<br>
Mariana Racine<br>
<br>
Travelling Reserve:- Ellie Sipkovsky<br>
Non Travelling Reserve:- Chloe Bramblett<br>
<br>
Nations Championship<br>
Susie Robinson<br>
Brynn Delong<br>
Cat Yudow<br>
Ellie Sipkovsky<br>
Chloe Bramblett<br>
<br>
Royal Welsh Show<br>
Molly Andrews<br>
Teagan Morley<br>
Brynn Delong<br>
Jaycee Blythe<br>
Bella Pellet<br>
<br>
International De Fontainebleau<br>
Jessie Findora<br>
Susie Robinson<br>
Molly Pratt<br>
Aiden Murphy<br>
Francisco Murphy<br>
<br>
Northern Ireland<br>
Kathryn Frazier<br>
Elaina Overberg<br>
Taya Lawson<br>
Loralei Marsh<br></p>
</article>
<article class="blog-post">
<h2>HELmet Safety</h2>
<p class="blog-date"><br>
2/11/2025<br></p>
<p>Here is some great information about helmet safety!</p>
<p><a class="button" href="/assets/docs/riding-helmet-safety.pdf" target="_blank" rel="noopener">here</a></p>
<figure><img src="/assets/img/476450788-927971582823886-8397877072286218875-n_orig.jpg" alt="Picture"></figure>
</article>
<article class="blog-post">
<h2>Summary of 2025 IMGa Rule Changes</h2>
<p class="blog-date"><br>
2/11/2025<br></p>
<p>Here are some excellent summaries of the rule changes made by IMGA for the 2025 season. These images are provided by IMGA. For full quotes of all rules affected, see one of our other posts, and if you want to view the whole rulebook, it can be found in our documents page.</p>
<figure><img src="/assets/img/476837406-927971376157240-9008196875413032532-n_orig.jpg" alt="Picture"></figure>
<figure><img src="/assets/img/476616676-927971386157239-8370926689259776937-n_orig.jpg" alt="Picture"></figure>
<figure><img src="/assets/img/476826494-927971459490565-784084732429427351-n_orig.jpg" alt="Picture"></figure>
<figure><img src="/assets/img/476816327-927971439490567-421730372860601146-n_orig.jpg" alt="Picture"></figure>
<figure><img src="/assets/img/476834643-927971542823890-259233745889258177-n_orig.jpg" alt="Picture"></figure>
<figure><img src="/assets/img/477591429-927971592823885-4688097289082579518-n_orig.jpg" alt="Picture"></figure>
<figure><img src="/assets/img/476835699-927971549490556-3839674887579507525-n_orig.jpg" alt="Picture"></figure>
</article>
<article class="blog-post">
<h2>2025 NEW IMGa gaMES</h2>
<p class="blog-date"><br>
2/9/2025<br></p>
<p>IMGA has introduced 3 new games for the 2025 season. two of these games will only be played in an individual format, while one is appropriate for Teams, Pairs, and Individuals. If you want to check these out in the rule book, the 2025 Rulebook is linked under the documents tab. Ball Swap and Moat and Castle follow the same genuine attempt rule as Ball and Cone.</p>
</article>
<article class="blog-post">
<h2>2025 imga rule changes</h2>
<p class="blog-date"><br>
2/9/2025<br></p>
<p>IMGA has made a few changes to their rule book for 2025, here is every rule that has been affected, new races were also added, but they are in a separate post. If you want to view the rest of the updated rule book, it is linked under the documents tab of our website.<br>
​<br>
Rule GR5.3.<br>
Properly fastened, correctly fitting and undamaged protective headgear must be worn when riding anywhere on the showground.<br>
All Protective Headwear must meet one of the following standards: - PAS 015 (2011) (with BSI Kitemark or Inspec IC mark) - VG1 01.040 (2014-12) (with BSI Kitemark or Inspec IC mark) - ASTM F1163 (2004a or 04a onwards) (with SEI mark) - SNELL E2016 or E2021 (with SNELL label and number) - AS/NZS 3838 (2006 onwards) (with SAI Global mark) or any new standard approved by FEI that meets or exceeds those stated. Only a Jockey Skull Cap of an even round or elliptical shape with a smooth or slightly abrasive surface, having no peak or peak type extensions may be worn 10 for any Mounted Games related activity. Noticeable protuberances above the eyes or to the front, not greater than 5mm, smooth and rounded in nature are permitted. A removable hat cover with a light flexible peak may be used.<br>
As an exception to this rule riders are allowed to remove their headgear while accepting prizes or during the playing of the National Anthem only; they must refasten their headgear prior to the lap of honour. Head Cams or any recording devices are not permitted for use during Mounted Games events.<br>
<br>
Rule CR6.1<br>
Any required action to put an item of equipment on/in or take it off/out of any bin, container, holder or pole must be attempted mounted. If, during the attempt, the item drops to the ground the rider may dismount and complete the action from the ground, unless the game specifically modifies the rules.<br>
<br>
Rule CR6.2<br>
Regarding an “attempt”:<br>
If a rider loses control of a piece of equipment and it falls to the ground before an attempt can be made then the rider has not made an attempt. As such they would need to pick up the equipment either mounted or dismounted and then remount to put/place or drop in mounted before continuing the race.<br>
If a rider and/or horse collide with equipment they are about to use and need to rebuild (e.g. upright a bin) before they can attempt the action, they have not made an attempt and they must correct the error either mounted or dismounted and then complete the action mounted.<br>
<br>
Rule CR11.2<br>
Errors must be corrected such that the race is reset to the point where the error was made.<br>
<br>
Rule CR11.3<br>
Where a mistake is not corrected by the rider who made the mistake and a subsequent rider has entered the field of play then the current rider must return any item in their hand to its original position and then return back behind the line where they started the race. The rider who made the mistake must then enter the field of play and return all equipment back to the point where the error occurred. Then they must re commence the race.<br>
<br>
Rule CR22.1<br>
Each Team/Pair/Individual is attributed the right to make an appeal against a refereeing or judging decision at the start of each session. An appeal can only be made about an incident in which the Team/Pair/Individual or their Trainer were physically involved. To facilitate this, the referee manages the appeal with the trainer of the Team/Pair/Individual involved. In the case where there is no trainer present, the appeal is managed with (one of) the rider(s).<br>
<br>
Rule CR22.2<br>
In order to make an appeal the trainer (or rider in the absence of a trainer) should stand on the penalty line in their lane and raise their hand. This can only be done after the referee has signaled the end of the relevant race and the official result has been given by the commentator. It must also be done before the flag has dropped to signal the start of the race following the official announcement of the result. If the appeal relates to the final race of a session, the appeal must be lodged before the Team/Pair/individual (or any part thereof, including the trainer) has left the arena.<br>
<br>
Rule CR22.3<br>
Once an appeal has been made the referee approaches the person making the appeal who explains the decision against which they are appealing and the reasons for doing so. The referee verifies that they are making a formal appeal. The referee may consider the appeal by reviewing official video footage or consulting with assistant referees. If the referee overturns the decision, the scores are amended and the right to appeal in that session is retained. If the decision is upheld, the referee informs the trainer/Team/Pair/Individual and that Team/Pair/Individual can make no further appeals for the duration of that session. The outcome of the appeal is recorded on the scoresheet for that Team/Pair/Individual in that session.<br>
<br>
Rule CR24.6<br>
The referee will declare a race to be over by blowing the whistle. In order to save time, a referee may, exceptionally and at their own discretion, blow the whistle to end a race before all participants have finished. In this case, the teams, pairs or individuals remaining are each awarded an equal share of the remaining points.<br>
<br>
Ball and Cone Rules - Applies to Both Teams and Pairs Races<br>
If whilst placing the ball on the cone, the ball drops to the ground then the ball must have made contact with the cone whilst the ball was in the hand of the rider for the rider to complete the action dismounted. This also applies to Ball Swap and Moat and Castle.</p>
</article>
<article class="blog-post">
<h2>2024 usmga cOACH'S REPORT AND SCHEDULE FOR OVERSEAS COMPETITIONS IN 2025</h2>
<p class="blog-date"><br>
12/26/2024<br></p>
<p>WTC Italy July 2024<br>
Open Team: Bella Pellet, Jaycee Blythe, Molly Pratt, Sadie McBain, Zoe Love, Reagan Merritt.<br>
U18 Team: Aiden Murphy, Maya Bourke, Isabelle Hackler, Lexi McDonald, Riley Kendall, Francisco Murphy.<br>
<br>
World Team Championship in Italy was a wonderful experience for our riders. It provided many challenges, not only intense heat for riders and ponies to endure but two of the ponies (one on each team) gave up during the competition and there were no available replacements which is unusual for this competition. So, competing in intense heat with four ponies and watching riders unable to compete was hard to watch but even tougher for the riders affected. With all this disruption, the riders and parents behaved amazingly and took everything in their stride, which was difficult to do.<br>
<br>
Overall, I think we did as well as possible on borrowed ponies considering the challenges.<br>
<br>
Northern Ireland September 2024<br>
Kathryn Frazier, Lily Somers, Sarah Brace, Ellie Sipkovsky, Emma Watson.<br>
<br>
This was a beneficial trip for our younger riders, giving them experience on an International level without being too intense. We had a great week, exploring Northern Ireland and enjoying each other's company. Due to logistics practice was at a minimum but the ponies provided were perfect and the riders really enjoyed competing on them and will take this experience forward and help them in future International competitions.<br>
<br>
Nation's Championships New Zealand October 2024<br>
Matthew Fulton, Natalie Tanski, Adrienne Berard, Brynn Delong, Susie Robinson, Jackson Wagner.<br>
<br>
We had a brilliant week at Nation's in New Zealand, everyone pulled together to make it such an enjoyable experience. The riders rode really well (bar one session) and watching them improve bodes well for the future.<br>
<br>
I would like to thank every rider who represented USA this year for their exemplary behavior and commitment.<br>
<br>
International competitions for 2025 are Norway, Belgium, Northern Ireland, and Australia and possibly the Royal Welsh in Wales. I have already made tentative arrangements for borrowed ponies for Belgium to avoid the problems we had this year both competitively and financially.<br>
<br>
It is going to be a busy year; I look forward to working with riders and improving skills.<br>
There will be further tryouts, and I would also like to hold a camp for tryout riders early in the year. I look forward to 2025 and recommend that USMGA hold more competitions around USA to widen our area to attract new members and more competitions in general to give riders more experience.<br>
<br>
Best Regards<br>
Christian Jones (USA Coach).</p>
</article>
<article class="blog-post">
<h2>Annual General meeting Agenda 2024</h2>
<p class="blog-date"><br>
12/18/2024<br></p>
<p>USMGA Annual General Members Meeting<br>
<br>
Board of Directors<br>
<br>
Paul Greiling President<br>
Carol Jones Secretary<br>
Debbie Mcleod Treasurer and MidWest regional Representative<br>
Liz Englert International Referee IMGA liason<br>
Brenda Kibiloski Equipment<br>
Jessica Chilton Midsouth Representative<br>
Lisa Muffley South Representative<br>
<br>
The USMGA Annual General Meeting will be held December 14th at the Oldham County Library in Lagrange Ky at 1:30 pm. The Zoom information is listed below for those who can not attend in person.<br>
<br>
Please let USMGA know whether you will be attending in person or on livestream so there will be enough chairs for everyone who wants to learn about up coming events and to help the board plan for them.<br>
<br>
Attached is the draft agenda. please review and add anything you wish to see covered at meeting. The meeting will conducted under Roberts Rules of order and appropriate decorum will be enforced. We look forward to a busy and exciting season in 2025!<br>
<br>
USMGA ANNUAL GENERAL MEETING<br>
2024 AGENDA<br>
<br>
Welcome Reading of the last meeting’s minutes Treasurer’s Report Introduction of New Board Members Competition Schedule Upcoming Year Reading of USMGA coaches report and schedule for overseas competitions 2025 2024 international competition report Possible Can Am Pairs Championship 40th USMGA Anniversary 2026 Hosting of Nations Championship Volunteers for committees Referees liaison report Riders Representative Code of Conduct Fund Raising/donations USMGA committee Growth of games and promotion in US Adjourn</p>
</article>
