---
layout: base.njk
title: Rules
heading: Rules
permalink: /rules.html
---
<div class="content-card">
<h2>USMGA follows the rules of the International Mounted Games Association with additions listed below.</h2>
<p>Abuse of Ponies: No abuse of any pony will be tolerated at any time whether in the stable area, the warm up area or in the competition arena. Any official or member of the organizing committee for the event may issue a warning. If the abuse continues or is repeated, the organizing committee will eliminate the rider from the competition. Eliminations of riders for abuse will be recorded with board of directors who may review the elimination and dismiss offending riders from USMGA.</p>
<p>Drug and Alcohol Regulations: There is a zero tolerance level on alcohol and on performance enhancing drugs or on any depressant or stimulants not prescribed by a doctor. A competition organizer may eliminate from the competition any horse and/or rider who appears to be impaired or unsafe in the opinion of any official of the competition organizing committee.</p>
<p>Required Equipment Regulations: All riders must wear SEI or ASTM approved helmets, have helmet chin straps fastened, and wear appropriate riding boots while mounted.<br>
Wearing of jewelry of any kind is not allowed while mounted.</p>
</div>
