---
layout: base.njk
title: Sponsor Us
heading: Sponsor Us
permalink: /sponsor-us.html
hero: /assets/img/1699801072.jpg
---
<div class="content-card">
<h2>United States Equestrian Games (USMGA) is a 501(c)3 Charitable Organization EIN #32-0043189</h2>
<p>Please consider donating to our cushion fund:<br>
Please specify in PayPal notes what you are donating to</p>
<p><a class="button" href="https://www.paypal.com/qrcodes/managed/e9aaf797-2ff1-41d2-b668-3224c56b39d2?utm_source=old_merchant_lp" target="_blank" rel="noopener">OUR PAYPAL</a></p>
<h2>Sponsor the organization:</h2>
<p>Single Product Donation - to be used in a fundraising raffle<br>
You would receive: Your company tagged on our facebook group with 1,700 members<br>
<br>
5 Matching Products Donation - to be used as a prize for a team at a competition<br>
You would receive: Your company tagged on our facebook group with 1,700 members Picture of receiving team with your products sent to your email Company name announced and thanked over loudspeakers as prizes are distributed<br>
<br>
Gold $500, Silver $250, or Bronze $100, Donations<br>
You would receive: Your company tagged on our facebook group with 1,700 members Your company name announced and thanked over loudspeakers at at least 2 major and 2 minor competitions within a year of your donation Your logo on our website<br>
$1000+ Platinum Donation<br>
You would receive: Your company tagged on our facebook group with 1,700 members Your company name announced and thanked over loudspeakers at every competition within a year of your donation Your logo on our website (if sent to us) Your pamphlets/coupons/advertisements placed at stalls at a competition (if sent to us) Your banner displayed at the arena of every competition within a year of your donation</p>
<h2>Sponsor International teams:</h2>
<p>Equipment Sponsors: donate a set or sets of matching equipment for each member of all sponsored teams. Most teams have 5 or 6 riders. We are also happy to accept fewer items for use in fundraising auctions or raffles. Levels are calculated based on the retail price of donated equipment.<br>
<br>
Copper level: This level has no minimum donation value<br>
You receive: Your logo on USMGA website Home Page until April 2026, and on USMGA International page after that. See previous year’s sponsors at International - USMGA<br>
<br>
Bronze level: Minimum $100 valued donation<br>
You receive: All Copper benefits and Your company name announced and thanked over the loudspeakers at one major USMGA event in the next year.<br>
<br>
Silver level: Minimum $250 valued donation<br>
You receive: All Bronze benefits and a post thanking your company for your donation on our public facebook group with 1,700 members, USMGA (United States Mounted Games Association) | Facebook .<br>
<br>
Gold level: Minimum $500 valued donation<br>
You receive: All Silver benefits and Photos of your donated items with uniformed Team USA members. Photos may show items in use on the field of play or be a posed shot with team members.<br>
<br>
Platinum level: Minimum $1,000 valued donation<br>
You receive: All Gold benefits and a short form video of a uniformed Team USA member with your donation thanking your company for your donation.<br>
<br>
Diamond level: Minimum $6,000 valued donation (Number of international teams X $1,000)<br>
You receive: All Platinum benefits, a company shoutout over the loudspeakers at an additional major USMGA event in the next year, an additional Sponsor thank you post on our Facebook group, this one with photos of your donations, and a signed photo from at least one supported team.<br>
<br></p>
<p>Fund Sponsors: Donate funds to help teams cover expenses like entry fees, pony rental fees, uniforms, coaching fees, and other miscellaneous team costs. Levels are calculated by amount of donation.<br>
<br>
Copper level: This level has no minimum donation<br>
You receive: Your logo on USMGA website Home Page until April 2026, and on USMGA International page after that. See previous year’s sponsors at International - USMGA<br>
<br>
Bronze level: Minimum $100 donation<br>
You receive: All Copper benefits and Your company name announced and thanked over the loudspeakers at one major USMGA event in the next year.<br>
<br>
Silver level: Minimum $250 donation<br>
You receive: All Bronze benefits and a post thanking your company for your donation on our public facebook group with 1,700 members, USMGA (United States Mounted Games Association) | Facebook .<br>
<br>
Gold level: Minimum $500 donation<br>
You receive: All Silver benefits and Photos of the benefited team for your social media use.<br>
<br>
Uniform level: Minimum $1,000 donation to cover cost of producing uniforms for team<br>
You receive: All Gold benefits and your company logo on the sponsored team’s uniforms.<br>
<br>
Pony level: Minimum $2,000 donation to cover pony rental fee<br>
You receive: All Uniform level benefits and a short form video of a uniformed Team USA member thanking your company for your donation.<br>
<br>
Team Level: Minimum $3,000 donation to cover team entry fee<br>
You receive: All Pony level benefits and an additional Sponsor thank you post on our Facebook group, this one with photos of your benefited team with your logo on their jersey.<br>
<br>
Diamond level: Minimum $6,000 donation total (may be amongst multiple teams)<br>
You receive: All Team level benefits, a company shoutout over the loudspeakers at an additional major USMGA event in the next year, and a signed photo from at least one supported team.<br>
<br>
​</p>
<p>United States Equestrian Games (USMGA) is a 501(c)3 Charitable Organization EIN #32-0043189<br>
<br>
​Donations can be mailed to:<br>
USMGA ℅ Paul Greiling 5400 Old Sligo Road LaGrange, KY 40031<br>
<br>
Paypal to @ usmga1042@gmail.com<br>
<br>
**Please note on the check or Paypal Payment what you are donating to<br>
<br></p>
<p><a class="button" href="https://www.paypal.com/qrcodes/managed/e9aaf797-2ff1-41d2-b668-3224c56b39d2?utm_source=old_merchant_lp" target="_blank" rel="noopener">OUR PAYPAL</a></p>
</div>
