---
layout: base.njk
title: USMGA Competitions
heading: USMGA Competitions
permalink: /usmga-competitions.html
hero: /assets/img/229974373.jpg
---
<div class="content-card">
<h2>Become a member to enter!</h2>
<p><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLScioVRwqOX5UVGQccYFucoIhF39X211xNGZ7TsPijcJA4qnPw/viewform?fbclid=IwdGRjcAP4US5leHRuA2FlbQIxMQBzcnRjBmFwcF9pZAo2NjI4NTY4Mzc5AAEeb45YxksNlmP95JUK6yGioqUpe5cnpglNYnXmA7gJj8iZQVCELtsglIqBWo8_aem_YQfXh_CrPfTjZQt3sljwUQ&usp=embed_facebook" target="_blank" rel="noopener">2026 Membership Form</a></p>
<h2>ENter here!</h2>
<p><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSevpl0PtDA7JPJDMd5S2OBkF8PRHPF5w2y_2ok4IVAwz1nEjg/viewform?fbclid=IwdGRjcAP4UVBleHRuA2FlbQIxMQBzcnRjBmFwcF9pZAo2NjI4NTY4Mzc5AAEeIgmyag-GtnavNW4rdWMG0khSSRn9XpaQgm_YWUFVxUtkDp3Nw2hITgMFNJA_aem_b_s2isnwv7rG49Oxalsa_g&usp=embed_facebook" target="_blank" rel="noopener">Headstart Games</a></p>
<p>March 28-29th, 2026<br>
York Equestrian Center, LaGrange KY</p>
<p><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSfspGjsMH_PX_EAlTHOGnhyWW4yEi1w9frxKDyMwhDG3xpnVg/viewform?fbclid=IwdGRjcAP4UW5leHRuA2FlbQIxMQBzcnRjBmFwcF9pZAo2NjI4NTY4Mzc5AAEeuOJhj3CffbTDMoO44eAFP-9kCOY0MGcaNqjI31SJKHIUCkZ4VOg65tdRuGw_aem_Ch8sHd8WzYw4DRupYKyt8w&usp=embed_facebook" target="_blank" rel="noopener">Chris Jones Clinic</a></p>
<p>March 27th 2026 Beginning at 1pm<br>
York Equestrian Center, LaGrange KY<br></p>
<p><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSc_Qggdcjq7bBj834tvMX0RTdu2H6wYpuVXDlundkUc9mU_cA/viewform?fbclid=IwdGRjcAP4UiBleHRuA2FlbQIxMQBzcnRjBmFwcF9pZAo2NjI4NTY4Mzc5AAEe2Ff0CapEischgMDg5h7K9HdllqkRsX-yAfUg_rCe7ad8avIFZU6Z-hbWQno_aem_EK-ewh_YQif7Pyj7hHEE7w&usp=embed_facebook" target="_blank" rel="noopener">CLive jones I</a></p>
<p><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSceQKS2dd3mDC5betshRLKOBCRbpgDdK-I9GuZmQsDnl8Ftcg/viewform?usp=header" target="_blank" rel="noopener">clive jones II</a></p>
<p>April 11-12 2026<br>
​Kentucky Horse Park<br></p>
</div>
