---
layout: base.njk
title: USMGA Competitions
heroTitle: "Entry Form"
heroSubtitle: "Come play with us!!"
permalink: /usmga-competitions.html
hero: /assets/img/229974373.jpg
heroPosition: 50.00% 26.83%
heroHeight: 423px
---
<div class="content-card">
  <h2>Become a member to enter!</h2>
  <p><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLScioVRwqOX5UVGQccYFucoIhF39X211xNGZ7TsPijcJA4qnPw/viewform?fbclid=IwdGRjcAP4US5leHRuA2FlbQIxMQBzcnRjBmFwcF9pZAo2NjI4NTY4Mzc5AAEeb45YxksNlmP95JUK6yGioqUpe5cnpglNYnXmA7gJj8iZQVCELtsglIqBWo8_aem_YQfXh_CrPfTjZQt3sljwUQ&amp;usp=embed_facebook" target="_blank" rel="noopener">2026 Membership Form</a></p>

  <h2>ENter here!</h2>
  <p><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSdk4VWuE4I7z6dFI_GP2oEBcqn8JYALZINs5f-WWAYwlQcHrQ/viewform" target="_blank" rel="noopener">CLIVE JONES III</a></p>
  <p><a class="button" href="javascript:;">CLIVE JONES IV</a></p>

  <figure>
    <img src="/assets/img/usmga-paypal-qr-code-3_orig.png" alt="USMGA PayPal QR code">
  </figure>

  <p><strong>July 10, 2026</strong><br>York Funday</p>
  <p><strong>Sept. 26-27, 2026</strong><br>York Equestrian Center, LaGrange, KY</p>
  <p><strong>Oct. 24-25, 2026</strong><br>Kentucky Horse Park, Lexington, KY</p>
  <p>Paypal: @<a href="mailto:usmga1042@gmail.com">usmga1042@gmail.com</a></p>
</div>

<div class="content-card">
  <h2>USMGA</h2>
  <p>Founded 1986</p>
</div>
